$color: (
    primary: rgb(255, 204, 221)
    secondary: rgb(153, 230, 255)
    text: rgb(0, 57, 77)
    lessertext: rgb(57, 0, 77)
    background: rgb(121, 210, 121)
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}