html {
    font-size: 62.5%;
    padding: 1rem;
    margin: -2rem;
}

.header {
    height: 100rem;
    background-color: rgb(99, 98, 64);
}

.text{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    position: relative; 
    letter-spacing: 2rem;
    font-size: 2rem;
    top: 6rem; 
}


.title{
    color:pink;
}

.subtitle {
    color: rgb(146, 204, 231);
}

.coffee{
    height: 30rem;
    z-index: 1;
    position: absolute;
    top: 25rem;
    right: 74rem;
    border-radius: 7rem;
    border: .5rem solid rgb(146, 204, 231);
}

.drink {
    height: 15rem;
    z-index: 1000;  
    position: absolute;
    top: 32rem;
    right: 82rem;
    border-radius: 15rem;
    border: .5rem solid pink;
}
    
