@import "_variables.scss";
@import "_fonts.scss";


.header1{
  background-color: color(header);
  height: 10rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
}


#title{
  text-align: center;
}

